<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Raul Torres Portfolio</title>

  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="~/css/resume.min.css" rel="stylesheet">
  <link href="~/css/my.css" rel="stylesheet">


</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Raul Torres</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile mx-auto mb-2" src="~/img/headshot.jpg" alt="HeadShot Photo">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">Technologies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#awards">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Raul 
          <span class="text-primary">Torres</span>
        </h1>
        <br>
        <br>

        <p class="lead mb-5 ">Full-stack developer able to incorporate front-end design, back-end logic, and a database storage to create responsive web applications. Capable problem-solver, eager to tackle complex issues and expand professional knowledge. Currently in the market to work with an innovative team and produce results.</p>
        <br>
        <br>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-3 text-center">
            <p class="inline">
              <a href="https://drive.google.com/file/d/1RAWPGhrRSNPoo49hRfJLTsOl2Jc1jSBv/view?usp=sharing" target="_blank">
              <img src="../img/resume.png" alt="Resume Icon" class="connect-img">
              Resume</a>
            </p>
          </div>
          <div class="col-md-3 text-center">
              <p class="inline">
                <a href="https://www.linkedin.com/in/raul%E2%80%94torres/" target="_blank">
                <img src="~/img/inlogo.png" alt="LinkedIn Logo" class="connect-img">
                LinkedIn</a>
              </p>
            </div>
          <div class="col-md-4 text-center">
            <p class="inline">
                <a href="https://github.com/raul-torres" target="_blank">
                <img src="~/img/github.jpg" alt="GitHub Logo" class="connect-img">
                GitHub</a>
              </p>
          </div>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Technologies</h2>

        <div class="row">
          <div class="col-md-6">
            <div class="subheading mb-3">Programming Languages</div>
            <hr>
              <img src="~/img/python.png" alt="Python Logo" class="images">
              <p class="label">Python</p>
              <br>
              <img src="~/img/Csharp.jpg" alt="C# Logo" class="images2">
              <p class="label">C# / Asp.Net CORE</p>
              <br>
              <img src="~/img/javascript.png" alt="Javascript Logo" class="images2">
              <p class="label">JavaScript</p>
              <br>
              <br>
          </div>

          <div class="col-md-6">
            <div class="subheading mb-3">Web Development</div>
            <hr>
              <img src="~/img/html.png" alt="HTML Logo" class="html">
              <p class="label">HTML</p>
              <br>
              <img src="~/img/css.png" alt="CSS Logo" class="css">
              <p class="label">CSS</p>
              <br>
              <img src="~/img/bootstrap.png" alt="BootStrap Logo" class="bootstrap">
              <p class="label">Bootstrap</p>
              <br>
              <img src="~/img/javascript.png" alt="Javascript Logo" class="javascript">
              <p class="label">JavaScript</p>
              <br>
              <img src="~/img/React.png" alt="React Logo" class="react">
              <p class="label">React</p>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            <div class="subheading mb-3">Frameworks</div>
            <hr>
            <img src="~/img/asp.jpg" alt="Entity Logo" class="frameworks">
              <p class="label">Entity Framework Core</p>
              <br>
            <img src="~/img/django.png" alt="Django Logo" class="frameworks">
              <p class="label">Django</p>
              <br>
            <img src="~/img/flask.jpg" alt="Flask Logo" class="frameworks">
              <p class="label">Flask</p>
              <br>
            <img src="~/img/express.png" alt="Express Logo" class="frameworks">
              <p class="label">ExpressJS</p>
              <br>
              <br>
          </div>
          <div class="col-md-6">
            <div class="subheading mb-3">Databases</div>
            <hr>
            <img src="~/img/mysql.png" alt="MySql Logo" class="databases">
              <p class="label">MySql</p>
              <br>
              <img src="~/img/sqlite.png" alt="SQLite Logo" class="databases">
              <p class="label">SQLite</p>
              <br>
              <img src="~/img/mogo.jpg" alt="MongoDB Logo" class="databases">
              <p class="label">MongoDB</p>
              <br>
              <br>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            <div class="subheading mb-3">Deployment</div>
            <hr>
            <img src="~/img/aws.png" alt="MongoDB Logo" class="deployment">
              <p class="label">Amazon Web Service</p>
              <br>
            <img src="~/img/nginx.png" alt="MongoDB Logo" class="deployment">
            <p class="label">NGINX</p>
            <br>
            <img src="~/img/git.png" alt="MongoDB Logo" class="deployment">
            <p class="label">Git</p>
            <br>
            <br>
          </div>
          <div class="col-md-6">
            <div class="subheading mb-3">Software</div>
            <hr>
            <img src="~/img/vscode.png" alt="Visual Studio Code Logo" class="vscode">
            <p class="label">Microsoft Visual Studio Code</p>
            <br>
            <img src="~/img/mysql.png" alt="MySql Workbench Logo" class="software">
            <p class="label">MySql Workbench</p>
            <br>
            <img src="~/img/office.png" alt="Microsoft Office Logo" class="software">
            <p class="label">Microsoft Office Suite</p>
            <br>
          </div>
        </div>
    </section>

    <hr class="m-0">

    <section id="portfolio" class="resume-section p-3 p-lg-5 d-flex justify-content-center">
      <div class="w-100">
        <h2 class="mb-5">Portfolio</h2>
        <br>
        <div class="row">
          <div class="col-md-4">
            <h3>Favorite Places!</h3>
            <h6>Technologies:</h6>
            <p>Google Maps API - JavaScript - C# - ASP.NET Core</p>
            <br>
            
            <p>
                With the use of the <span class="text-lightblue">Google Maps JavaScript API</span>, you can see some cool spots around DC, Maryland, and Virginia. Created this application with various <span class="text-lightblue">Google Map markers</span> that run <span class="text-lightblue">functions</span> to perform tasks such as <span class="text-lightblue">marker bounce animation</span> , <span class="text-lightblue">recentering the map around a marker</span>, and a <span class="text-lightblue">smooth zoom on click</span>. Utilizes <span class="text-lightblue">C#/ASP.NET</span> to control backend routes.  Currently deployed using <span class="text-lightblue">AWS EC2</span> (using Ubuntu 18.04).
            </p>
            <a href="http://18.216.29.117/" class="form-control btn btn-outline-primary thisbtn thisbtn-lightblue" target="_blank">Live Demo</a>
            <p></p>
            <a href="https://github.com/raul-torres/FavPlaces" class="form-control btn btn-outline-primary thisbtn thisbtn-lightblue" target="_blank">Project Code</a>
            <br>
            <br>
          </div>
          <div class="col-md-8">
            <div class="w3-content w3-display-container">
              <img src="~/img/FP1.PNG" alt="Project Screenshots" class="mySlides mySlides7 project-image6 project-image">
              <img src="~/img/FP2.PNG" alt="Project Screenshots" class="mySlides mySlides7 project-image6 project-image">
              <img src="~/img/FP3.PNG" alt="Project Screenshots" class="mySlides mySlides7 project-image6 project-image">
              <img src="~/img/FP4.PNG" alt="Project Screenshots" class="mySlides mySlides7 project-image6 project-image">

              <button class="w3-button w3-black w3-display-left arrow7" onclick="plusDivs6(-1)">&#10094;</button>
              <button class="w3-button w3-black w3-display-right arrow7" onclick="plusDivs6(1)">&#10095;</button>
              <script>
                var slideIndex = 1;
                showDivs6(slideIndex);

                function plusDivs6(n) {
                  showDivs6(slideIndex += n);
                }

                function showDivs6(n) {
                  var i;
                  var x = document.getElementsByClassName("mySlides7");
                  if (n > x.length) {slideIndex = 1}
                  if (n < 1) {slideIndex = x.length}
                  for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";  
                  }
                  x[slideIndex-1].style.display = "block";  
                }
              </script>
            </div>
          </div>
          </div>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
          <div class="col-md-4">
            <h3>Job Assistant</h3>
            <h6>Technologies:</h6>
            <p>C# - ASP.NET Core - MySQL - Entity Framework</p>
            <br>
            
            <p>
              Oftentimes the stress of applying to jobs and keeping <span class="text-green">track of each job's</span> status can be overwhelming. I took it upon myself to create a way to destress and simplify the process by creating a website that does all the <span class="text-green">tracking for you</span>. With the use of <span class="text-green">one to many relationships, password BCrypt hashing and session</span>; it allows the user set a <span class="text-green">goal</span> of how many jobs to apply to and an easy to use interface where they can <span class="text-green">edit their job status</span>  through their job hunt. 
            </p>
            <a href="http://18.191.100.220/" class="form-control btn btn-outline-primary thisbtn thisbtn-green" target="_blank">Live Demo</a>
            <p></p>
            <a href="https://github.com/raul-torres/Job-Assistant" class="form-control btn btn-outline-primary thisbtn thisbtn-green" target="_blank">Project Code</a>
            <br>
            <br>
          </div>
          <div class="col-md-8">
            <div class="w3-content w3-display-container">
              <img src="~/img/JA1.PNG" alt="Project Screenshots" class="mySlides mySlides6 project-image5 project-image">
              <img src="~/img/JA2.PNG" alt="Project Screenshots" class="mySlides mySlides6 project-image5 project-image">
              <img src="~/img/JA3.PNG" alt="Project Screenshots" class="mySlides mySlides6 project-image5 project-image">
              <img src="~/img/JA4.PNG" alt="Project Screenshots" class="mySlides mySlides6 project-image5 project-image">
              <img src="~/img/JA5.PNG" alt="Project Screenshots" class="mySlides mySlides6 project-image5 project-image">
              <img src="~/img/JA6.PNG" alt="Project Screenshots" class="mySlides mySlides6 project-image5 project-image">

              <button class="w3-button w3-black w3-display-left arrow6" onclick="plusDivs5(-1)">&#10094;</button>
              <button class="w3-button w3-black w3-display-right arrow6" onclick="plusDivs5(1)">&#10095;</button>
              <script>
                var slideIndex = 1;
                showDivs5(slideIndex);

                function plusDivs5(n) {
                  showDivs5(slideIndex += n);
                }

                function showDivs5(n) {
                  var i;
                  var x = document.getElementsByClassName("mySlides6");
                  if (n > x.length) {slideIndex = 1}
                  if (n < 1) {slideIndex = x.length}
                  for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";  
                  }
                  x[slideIndex-1].style.display = "block";  
                }
              </script>
            </div>
          </div>
          </div>
        
        <br>
        <br>
        <br>
        <br>
        <div class="row">
          <div class="col-md-4">
            <h3>Seraj Associates</h3>
            <h6>Technologies:</h6>
            <p>C# - ASP.NET Core - MySQL - Entity Framework</p>
            <br>
            <p><span class="text-golden">Custom</span> portfolio website created for architect client to display his projects. This website has a built-in <span class="text-golden">administrator</span> section where they can add/update projects to their website. This application features a single use <span class="text-golden">login/registration</span> for the <span class="text-golden">administrator</span>, <span class="text-golden">one-to-many</span> schema relationship, <span class="text-golden">BCrypt</span> password hashing, and <span class="text-golden">image upload</span> for their project section.</p>
            <br>
            <a href="https://github.com/raul-torres/Seraj-Asssociates" class="form-control btn btn-outline-primary thisbtn thisbtn-goldenrod" target="_blank">View Project Code</a>
            <br>
            <br>
          </div>
          <div class="col-md-8">
            <div class="w3-content w3-display-container">
              <img src="~/img/SA1.PNG" alt="Project Screenshots" class="mySlides mySlides5 project-image4 project-image">
              <img src="~/img/SA2.PNG" alt="Project Screenshots" class="mySlides mySlides5 project-image4 project-image">
              <img src="~/img/SA3.PNG" alt="Project Screenshots" class="mySlides mySlides5 project-image4 project-image">
              <img src="~/img/SA4.PNG" alt="Project Screenshots" class="mySlides mySlides5 project-image4 project-image">
              <img src="~/img/SA5.PNG" alt="Project Screenshots" class="mySlides mySlides5 project-image4 project-image">

              <button class="w3-button w3-black w3-display-left arrow5" onclick="plusDivs4(-1)">&#10094;</button>
              <button class="w3-button w3-black w3-display-right arrow5" onclick="plusDivs4(1)">&#10095;</button>
              <script>
                var slideIndex = 1;
                showDivs4(slideIndex);

                function plusDivs4(n) {
                  showDivs4(slideIndex += n);
                }

                function showDivs4(n) {
                  var i;
                  var x = document.getElementsByClassName("mySlides5");
                  if (n > x.length) {slideIndex = 1}
                  if (n < 1) {slideIndex = x.length}
                  for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";  
                  }
                  x[slideIndex-1].style.display = "block";  
                }
              </script>
            </div>
          </div>
          </div>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
          <div class="col-md-4">
            <h3>Flash Cards</h3>
            <h6>Technologies:</h6>
            <p>C# - ASP.NET Core - MySQL - Entity Framework</p>
            <br>
            <p>Flashcard application where you can create, and quiz yourself with different cards. You can also interact with other user created cards and quiz yourself with them. This full-stack application uses <span class="brown-emphasis">one-to-many</span> schema relationship, login/registration with <span class="brown-emphasis">validations</span>, <span class="brown-emphasis">BCrypt</span> password hashing, and <span class="brown-emphasis">session</span> to keep you logged in.</p>
            <br>
            <a href="https://github.com/raul-torres/Flash-Cards-" class="form-control btn btn-outline-primary thisbtn thisbtn-brown" target="_blank">View Project Code</a>
            <br>
            <br>
          </div>
          <div class="col-md-8">
            <div class="w3-content w3-display-container">
              <img src="~/img/FC1.PNG" alt="Project Screenshots" class="mySlides mySlides4 project-image project-image-brown">
              <img src="~/img/FC2.PNG" alt="Project Screenshots" class="mySlides mySlides4 project-image project-image-brown">
              <img src="~/img/FC3.PNG" alt="Project Screenshots" class="mySlides mySlides4 project-image project-image-brown">

              <button class="w3-button w3-black w3-display-left arrow4" onclick="plusDivs3(-1)">&#10094;</button>
              <button class="w3-button w3-black w3-display-right arrow4" onclick="plusDivs3(1)">&#10095;</button>
              <script>
                var slideIndex = 1;
                showDivs3(slideIndex);

                function plusDivs3(n) {
                  showDivs3(slideIndex += n);
                }

                function showDivs3(n) {
                  var i;
                  var x = document.getElementsByClassName("mySlides4");
                  if (n > x.length) {slideIndex = 1}
                  if (n < 1) {slideIndex = x.length}
                  for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";  
                  }
                  x[slideIndex-1].style.display = "block";  
                }
              </script>
            </div>
          </div>
          </div>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
          <div class="col-md-4">
            <h3>DOJO ACTIVITY CENTER</h3>
            <h6>Technologies:</h6>
            <p>C# - ASP.NET Core - MySQL - Entity Framework</p>
            <br>
            <p>Activity planner where you can create and join other user-generated events. This full-stack web application uses a <span class="blue-emphasis">many-to-many</span> as well as a <span class="blue-emphasis">one-to-many</span> schema relationship, login and registration with <span class="blue-emphasis">validation</span>, <span class="blue-emphasis">session</span> to ensure the user remains logged in, and <span class="blue-emphasis">BCrypt</span> password hashing.</p>
            <a href="https://github.com/raul-torres/BlackBelt" class="form-control btn btn-outline-primary thisbtn thisbtn2" target="_blank">View Project Code</a>
            <br>
            <br>
          </div>
          <div class="col-md-8">
            <div class="w3-content w3-display-container">
              <img src="~/img/DAC2.PNG" alt="Project Screenshots" class="mySlides mySlides3 project-image2 project-image">
              <img src="~/img/activityCenter.PNG" alt="Project Screenshots" class="mySlides mySlides3 project-image2 project-image">
              <img src="~/img/DAC3.PNG" alt="Project Screenshots" class="mySlides mySlides3 project-image2 project-image">
              <img src="~/img/DAC4.PNG" alt="Project Screenshots" class="mySlides mySlides3 project-image2 project-image">

              <button class="w3-button w3-black w3-display-left arrow3" onclick="plusDivs(-1)">&#10094;</button>
              <button class="w3-button w3-black w3-display-right arrow3" onclick="plusDivs(1)">&#10095;</button>
              <script>
                var slideIndex = 1;
                showDivs(slideIndex);

                function plusDivs(n) {
                  showDivs(slideIndex += n);
                }

                function showDivs(n) {
                  var i;
                  var x = document.getElementsByClassName("mySlides3");
                  if (n > x.length) {slideIndex = 1}
                  if (n < 1) {slideIndex = x.length}
                  for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";  
                  }
                  x[slideIndex-1].style.display = "block";  
                }
              </script>
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
          <div class="col-md-4">
            <h3>PET SHELTER</h3>
            <h6>Technologies:</h6>
            <p>MongoDB - Express - React - NodeJS</p>
            <br>
            <p>A single-page application where you can place pets for adoptions as well as adopt them. It uses a NoSql Database (<span class="empahsis">MongoDB</span>) with RESTful-Api (<span class="empahsis">ExpressJS</span>).</p>
            <br>
            <a href="https://github.com/raul-torres/MEARN-Deployment" class="form-control btn btn-outline-primary thisbtn thisbtn1" target="_blank">View Project Code</a>
            <br>
            <br>
          </div>
          <div class="col-md-8">
            <div class="w3-content w3-display-container">
              <img src="~/img/petshelter.PNG" alt="Project Screenshots" class="mySlides mySlides2 project-image">
              <img src="~/img/PS2.PNG" alt="Project Screenshots" class="mySlides mySlides2 project-image">
              <img src="~/img/PS3.PNG" alt="Project Screenshots" class="mySlides mySlides2 project-image">
              <img src="~/img/PS4.PNG" alt="Project Screenshots" class="mySlides mySlides2 project-image">


              <button class="w3-button w3-black w3-display-left arrow2" onclick="plusDivs2(-1)">&#10094;</button>
              <button class="w3-button w3-black w3-display-right arrow2" onclick="plusDivs2(1)">&#10095;</button>
              <script>
                var slideIndex = 1;
                showDivs2(slideIndex);

                function plusDivs2(n) {
                  showDivs2(slideIndex += n);
                }

                function showDivs2(n) {
                  var i;
                  var x = document.getElementsByClassName("mySlides2");
                  if (n > x.length) {slideIndex = 1}
                  if (n < 1) {slideIndex = x.length}
                  for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";  
                  }
                  x[slideIndex-1].style.display = "block";  
                }
              </script>
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
          <div class="col-md-4">
            <h3>TRAVEL BUDDY / HANGOUT!</h3>
            <h6>Technologies:</h6>
            <p>Python - Django MVC - SQLite</p>
            <br>
            <p>Travel planner built using Python where you can create travel plans with your friends! This application features login and registration with <span class="purp-emphasis">validations</span>, <span class="purp-emphasis">one-to-many</span> and <span class="purp-emphasis">many-to-many</span> schema relationships, <span class="purp-emphasis">BCrypt</span> password hashing, and <span class="purp-emphasis">session</span> to keep track of the user that is logged in.</p>
            <a href="https://github.com/raul-torres/hangout" class="form-control btn btn-outline-primary thisbtn thisbtn-gray" target="_blank">View Project Code</a>
            <br>
            <br>
          </div>
          <div class="col-md-8">
            <div class="w3-content w3-display-container">
              <img src="~/img/TB1.PNG" alt="Project Screenshots" class="mySlides mySlides1 project-image project-image1">
              <img src="~/img/TB2.PNG" alt="Project Screenshots" class="mySlides mySlides1 project-image project-image1">
              <img src="~/img/TB3.PNG" alt="Project Screenshots" class="mySlides mySlides1 project-image project-image1">
              <img src="~/img/TB4.PNG" alt="Project Screenshots" class="mySlides mySlides1 project-image project-image1">

              <button class="w3-button w3-black w3-display-left arrow1" onclick="plusDivs0(-1)">&#10094;</button>
              <button class="w3-button w3-black w3-display-right arrow1" onclick="plusDivs0(1)">&#10095;</button>
              <script>
                var slideIndex = 1;
                showDivs0(slideIndex);

                function plusDivs0(n) {
                  showDivs0(slideIndex += n);
                }

                function showDivs0(n) {
                  var i;
                  var x = document.getElementsByClassName("mySlides1");
                  if (n > x.length) {slideIndex = 1}
                  if (n < 1) {slideIndex = x.length}
                  for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";  
                  }
                  x[slideIndex-1].style.display = "block";  
                }
              </script>
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
      <div class="w-100">
        <h2 class="mb-5">Lets get in touch!</h2>
        <p class="connect">I am currently open to new opportunities and would love to hear about yours. Please take a few minutes to connect!</p>
        <br>
        <br>
        <div class="row text-center">
          <div class="col-md-1"></div>
          <div class="col-md-3 text-center">
              <p class="inline">
                <a href="https://www.linkedin.com/in/raul%E2%80%94torres/" target="_blank">
                <img src="~/img/inlogo.png" alt="LinkedIn Logo" class="connect-img">
                LinkedIn</a>
              </p>
          </div>
          <div class="col-md-4">
            <p class="inline text-center">
              <a href="mailto:raul.torres.dev@gmail.com">
              <img src="~/img/mail.png" alt="Email Logo" class="connect-img cimg2">
                raul.torres.dev@gmail.com</a>
            </p>
          </div>
          <div class="col-md-3 text-center">
            <img src="~/img/phone.png" alt="Phone Logo" class="connect-img cimg3">
            <a href="tel:202-372-7035">(202) 372-7035</a>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="~/vendor/jquery/jquery.min.js"></script>
  <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="~/js/resume.min.js"></script>

</body>

</html>
